body {
    background-color: #00adee;
}

#left-view {
    float: left;
}

#bottom-view {
    height: 30px;
}

#screen {
    position: relative;
    width: 640px;
    height: 400px;
}

#input {
    width: 640px;
}

#history {
    float: left;
    width: 200px;
    height: 400px + 30px;
    background-color: gray;
    overflow: auto;
}

// .video-js {
//     position: relative;

//     &:after {
//         position: absolute;
//         content: "Powered by Skywatch Inc.";
//         font-size: 1.5em;
//         color: white;
//         top:20px;
//         right:20px;
//         opacity: 0.5;
//     }
// }
