<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Weather</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="/static/css/index.css" />
</head>
<body>
    <div>
        <select id="selection-country">
            {% for country in country_list %}
                <option value="{{ country.id }}">{{ country.name }}</option>
            {% endfor %}
        </select>
        <select id="selection-city">
        </select>
    </div>

    <script src="/static/js/index.js"></script>
</body>
</html>
