/* ruby support */
ruby {
	display: inline-table;
	text-align: center;
	white-space: nowrap;
	text-indent: 0;
	margin: 0;
	vertical-align: -20%;
}

/* ruby base */
ruby > rb, ruby > rbc {
	display: table-row-group;
	line-height: 90%;
}

/* front ruby text */
ruby > rt, ruby > rbc + rtc {
	display: table-header-group;
	font-size: 60%;
	line-height: 40%;
	letter-spacing: 0;
}

/* back ruby text */
ruby > rbc + rtc + rtc {
	display: table-footer-group;
	font-size: 60%;
	line-height: 40%;
	letter-spacing: 0;
}

/* complex ruby text */
rbc > rb, rtc > rt {
	display: table-cell;
	letter-spacing: 0;
}

/* rt[rbspan] should be transformed into td[colspan] but that requires xslt */
rtc > rt[rbspan] {
	display: table-caption;
}

/* ruby Parentheses */
rp {
	display: none;
}
