table {
	border-width: 1px;
	border-spacing: 2px;
	border-style: outset;
	border-color: gray;
	border-collapse: separate;
}

td, th {
	border-width: 1px;
	border-style: inset;
	border-color: gray;
}

#stderr {
	color: red;
}

#outer {
	width: 800px;
	height: 600px;
	margin: auto;
	overflow: auto;
}

#stdio {
	width: 800px;
	margin: auto;
}
