[Unit]
Description=NFS mount profile %i
After=network-online.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=sudo --preserve-env=HOME %h/.local/bin/nfs start %i
ExecStop=sudo --preserve-env=HOME %h/.local/bin/nfs stop %i

[Install]
WantedBy=default.target
