.weather-widget {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-end;
}


.icon-container {
    font-size: 8em;
}


.temp-container {
    font-size: 4em;
}


.temp-unit {
    /* reletive to .temp-container */
    font-size: 0.5em;
}
