.download-with-transmission.bubble {
  position: absolute;

  min-width: 120px;
  padding: 5px;
  margin: 0;
  border-width: 5px;
  border-style: solid;
  border-color: #101010;
  border-radius: 10px;

  background-color: #101010;

  color: white;
  font-size: 16px;
  text-align: center;
  vertical-align: baseline;

  z-index: 100;

  transition: opacity 5s ease-in;
}

.download-with-transmission.bubble.fade {
  opacity: 0;
}
