# VPN config filename inside config/ directory
VPN_CONFIG_FILE=client.ovpn

# Docker subnets to bypass the kill switch (so containers reach each other)
VPN_ALLOWED_SUBNETS=172.16.0.0/12

# Port forward 1
HOST_PORT_1=1234
TARGET_HOST_1=10.8.0.2
TARGET_PORT_1=5678
