@import '../lib/index';


.application {
  @include w-100;
  @include h-100;

  @include hbox;

  .side-bar {
    .switch {
      width: 50px;
      height: 50px;

      &.normal {
        background-color: hsl(0, 100%, 50%);
      }

      &.two-pane {
        background-color: hsl(30, 100%, 50%);
      }
    }
  }

  .side-content {
    @include w-100;
    @include h-100;
  
    @include vbox;

    .content {
      @include size-auto;

      @include w-100;
      // IMPORTANT set min-height to have scroll for children
      @include mh-0;
  
      @include hbox;

      .pane {
        @include scrollable;

        &.full {
          @include w-100;
        }

        &.half {
          @include w-50;
        }
      }
    }
  }
}
