@import '../lib/index';


.application {
  @include w-100;
  @include h-100;

  @include hbox;

  .side-bar {
    .switch {
      box-sizing: border-box;
      width: 50px;
      height: 50px;

      &.active {
        border: {
          width: 5px;
          color: white;
          style: solid;
        }
      }

      .block {
        @include w-100;
        @include h-100;

        &.normal {
          background-color: hsl(0, 100%, 50%);
        }

        &.search {
          background-color: hsl(120, 100%, 50%);
        }

        &.two-pane {
          background-color: hsl(180, 100%, 50%);
        }

        &.mpv {
          background-color: hsl(270, 100%, 50%);
        }
      }
    }
  }

  .side-content {
    @include w-100;
    @include h-100;
  }
}
