.flex-container {
  display: flex;
}

.flex-container.flex-vertical {
  flex-direction: column;
}

.flex-child-auto {
  flex: auto;
}

.min-height-zero {
  min-height: 0;
}

.full-width {
  width: 100%;
}

.half-width {
  width: 50%;
}

.full-height {
  height: 100%;
}

.scroll {
  overflow: scroll;
}
