@import '../lib/index';


.search-list {
  @include w-100;
  @include h-100;

  @include vbox;

  .input-group {
    .input {
      box-sizing: border-box;
      width: 100%;
    }
  }

  .action-group {
    @include hbox;

    .action {
      @include size-grow;
    }
  }

  .tail {
    @include size-grow;

    @include hbox;

    @include mh-0;

    .history {
      width: 200px;

      @include scrollable;
    }

    .list {
      @include scrollable;
    }
  }

  .selected {
    background-color: aqua;
  }
}
