.tree-node {
  font-family: monospace;
  font-size: large;

  border-width: 1px;
  border-style: solid;
  border-color: white;
}

.tree-node.drag-over {
  border-color: blue;
}

.tree-node > .head {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
}

.tree-node > .head > .shift {
  margin-left: 16px;
}

.tree-node > .tail > div {
  display: inline-block;
  margin-left: 16px;
}

.tree-node .placeholder {
  width: 16px;
}

.tree-node > .head > .indicator {
  width: 16px;
  min-width: 16px;
  height: 16px;
  background-color: black;
}

.tree-node > .head > .indicator.expended {
  background-color: gray;
}

.tree-node .hidden {
  display: none;
}

.tree-node .selected {
  background-color: aqua;
}
