@import '../lib/index';


$indicator-size: 16px;


.tree-node {
  font: {
    family: monospace;
    size: large;
  }

  @include vbox;

  .head {
    @include hbox;
    flex-wrap: nowrap;

    > .shift {
      margin-left: $indicator-size;
    }

    > .indicator {
      width: $indicator-size;
      min-width: $indicator-size;
      height: $indicator-size;
      background-color: black;

      &.expanded {
        background-color: gray;
      }
    }
  }

  .tail {
    padding-left: $indicator-size;

    @include vbox;
  }

  .placeholder {
    width: $indicator-size;
  }

  .hidden {
    display: none;
  }

  .selected {
    background-color: aqua;
  }
}
