body {
  margin: 0px;
  -moz-user-select: none;
  background-color: gray;
}

#content {
  display: flex;
  flex-wrap: wrap;
}

.comic-entry {
  width: 33.33vw;
  height: 28vh;
  
  position: relative;
  
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.comic-entry > .title {
  width: 100%;
  
  position: absolute;
  bottom: 0px;
  
  opacity: 0.8;
  background-color: black;
  color: white;
}
