body {
  margin: 0px;
  -moz-user-select: none;
  background-color: gray;
}

#latest-update {
  display: none;
}

#latest-update.active {
  display: flex;
  flex-wrap: wrap;
}

.comic-entry {
  width: 33.33vw;
  height: 28vh;

  position: relative;

  background-size: 100% auto;
  background-repeat: no-repeat;
}

.comic-entry > .title {
  width: 100%;

  position: absolute;
  bottom: 0px;

  opacity: 0.8;
  background-color: black;
  color: white;
}

#comic-info {
  display: none;
}

#comic-info.active {
  display: block;
}

#comic-info ul {
  display: flex;
  flex-wrap: wrap;

  padding-left: 0px;
}

#comic-info ul > li {
  width: 20vw;
  list-style-type: none;
  text-align: center;
  margin: 10px 0px;
}

#episode {
  display: none;
}

#episode.active {
  display: block;
}
